<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- 오라클DB의 xx_x_xx같은거를 카멜케이스 형태로 바꿔주는거 -->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.app.dto.room.Room" alias="Room" />
	<!-- 편의성..com.app.dto.room.Room 이거를 Room 으로 사용할 수 있게 해줌  -->
		<typeAlias type="com.app.dto.user.User" alias="User" />
	</typeAliases>
	
</configuration>